.custom {
  position: absolute;
  left: 0;
  top: 7%;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* background: rgb(84, 114, 232); */
  /* background: linear-gradient(0deg, rgb(232, 84, 84) 0%, rgba(245, 198, 208, 0.922) 70%, rgba(255, 255, 255, 0.896796218487395) 100%); */
  height: 680px;
  max-height: fit-content;
}

.custom svg {
  /* animation: wave 1s linear infinite; */
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 340px;
  bottom: 0;
  top: 340px;
}

/* .custom .shape-fill {
  fill: #FFFFFF;
} */

.About-1 {
  background-color: #f09292;
  width: 330px;
  height: 330px;
  border-radius: 48% 25% 50% 25% / 62% 46% 54% 35%;
  border: 2px solid rgb(37, 37, 37);
  box-shadow: 5px 15px 40px 22px gray;
  background-image: url('../src/assets/myimg.jpg');
  background-size: 120%;
  background-position-x: center;
  background-position-y: 90%;
  background-repeat: no-repeat;
}

a:active {
  padding-top:  6px ;
  padding-bottom: 6px ;
  padding-left: 16px ;
  padding-right: 16px ;
  font-weight: 600;
  border-radius: 4px ;
}












@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(3%);
  }
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f09292;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f09292;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}